.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 40px;
}

.header .header-logo {
  height: 48px;
}

.header .right-header {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header .right-header > * + * {
  margin-left: 16px;
}

.main-content-wrapper {
  display: flex;
  justify-content: center;
}

.main-content {
  width: 800px;
}

.popup-content.calendar-modal-content {
  background: #093A3E;
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 8px;
  color: white;
  padding: 24px 32px;
}

.popup-content.calendar-modal-content > * + * {
  margin-top: 8px;
}