.main-calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 64px;
}

.main-calendar .cell {
  width: 14.2857142857%;
  box-sizing: border-box;
}

.main-calendar .cell.dates {
  border: 1px white solid;
  height: 96px;
}

.main-calendar .prev-month {
  color: #aaa;
}