.main-calendar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 64px;
}

.main-calendar .cell {
  width: 14.2857142857%;
  box-sizing: border-box;
}

.main-calendar .cell.dates {
  border: 1px white solid;
  height: 96px;
  overflow: auto;
}

.main-calendar .prev-month {
  color: #aaa;
}

.main-calendar .dates .event-cell {
  border-radius: 8px;
  font-size: 0.75rem;
  cursor: pointer;
  transition: padding-left 0.2s ease;
}

.main-calendar .dates .event-cell:hover {
  padding-left: 6px;
}

.color-cell {
  height: 16px;
  width: 64px;
}

.event-modal-content {
  background: #093A3E;
  padding: 16px 24px;
  color: white;
  border: 0;
  border-radius: 8px;
}

.event-modal-content h3 {
  font-weight: normal;
  font-size: 0.9rem;
}

.event-modal-content .note {
  padding: 6px 8px;
  background-color: white;
  color: black;
  border-radius: 8px;
}