.App {
  background-color: #000f10;
  min-height: 100vh; /* 100% height of the browser */
  color: white;
  background-size: cover;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.index-bg {
  background-image: url("./assets/index-background-01.svg");
}

.cal-bg {
  background-image: url("./assets/calendar-background-01.svg");
}