input[type="button"] {
  background-color: #48E5C2;
  border: 0;
  padding: 8px 40px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

input[type="button"]:hover {
  background-color: #3ca0c2;
}