input[type="button"] {
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'JetBrains Mono', monospace;

  min-width: 120px;
  height: 40px;
}

.bordered {
  border: #48E5C2 solid 3px;
  background-color: transparent;
  color: white;
}

.filled {
  background-color: #48E5C2;
  border: 0;
}

input[type="button"]:hover {
  background-color: #3ca0c2;
}